//░░░░░░░░░░░░░░░░░░░░░░░░
//
//     DIRECTORY
//
//     _Dashboard
//     _UpdateForm
//
//░░░░░░░░░░░░░░░░░░░░░░░░

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Dashboard
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

&.woocommerce-account.logged-in{
    .woocommerce{
        background-color:lighten(c(gray),2%);
        box-sizing:border-box;
        display:block;
        padding:30px;

        .myaccount_user{
            @include wd-bg-gradient(lighten(c(gray), 10%),lighten(c(gray), 5%));
            padding:30px;
            box-sizing:border-box;
            border:1px solid darken(c(gray), 10%);
            box-shadow:0 0 4px -2px rgba(c(black),0.3);

            strong{
                @extend %bold;
                color:c(primary);
            }

            a{
                display:inline;
                color:c(secondary);
                border-bottom:1px solid transparent;

                &:hover{
                    border-bottom:1px solid c(secondary);
                }
            }
        }

        h2, .myaccount_address, > .address, > .addresses{
            @extend %wd-bg-white;
            box-sizing:border-box;
            box-shadow:0 3px 4px -2px rgba(c(black),0.3);
        }

        h2{
            padding:30px 30px 0 30px;
            border-left:1px solid darken(c(gray), 10%);
            border-right:1px solid darken(c(gray), 10%);
        }

        .myaccount_address, > .address, > .addresses{
            border-left:1px solid darken(c(gray), 10%);
            border-right:1px solid darken(c(gray), 10%);
        }

        .myaccount_address{
            padding:10px 30px 30px 30px;
            border-bottom:1px dashed darken(c(gray), 10%);
        }

        > .address, > .addresses{
            padding:30px 0;
            border-bottom:1px solid darken(c(gray), 10%);
        }

        > .addresses{
            .address.col-1{
                position:relative;
                width:calc(48% - 30px);

                &:after{
                    content:'';
                    width:0;
                    height:calc(100% + 60px);
                    position:absolute;
                    top:-30px;
                    right:-30px;
                    border-right:1px dashed darken(c(gray), 10%);
                }
            }
        }

        .address{
            box-sizing:border-box;

            &.col-1{
                padding-left:30px;
            }
            &.col-2{
                padding-right:30px;
            }

            .edit{
                @extend .wdrobe-button;
                font-size:em(12);
                letter-spacing:space(100);
                text-transform:uppercase;
                padding:8px 20px;
                border-color:darken(c(gray), 10%);
                color:darken(c(gray), 10%);

                &:hover{
                    border-color:c(secondary);
                }
            }

            address{
                @extend %light;
                font-size:em(16);
                line-height:em(20,16);
                font-style:unset;
            }
        }
    }
}

//☲☲☲☲☲☲☲☲☲☲☲╣ BREAKPOINTS ╠☲☲☲☲☲☲☲☲☲☲☲☲//

&.woocommerce-account.logged-in .woocommerce{
    @include breakpoint(tablet){
        > .addresses{
            .address{
                padding:0 30px;
            }

            .address.col-1{
                width:100%;
                padding-bottom:30px;
                margin-bottom:30px;
                border-bottom:1px dashed darken(c(gray), 10%);

                &:after{
                    height:0;
                }
            }
        }
    }
}


//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _UpdateForm
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

&.woocommerce-account.woocommerce-edit-address, &.woocommerce-account.woocommerce-edit-account{
    .woocommerce{
        form{
            @extend %wd-bg-white;
            padding:30px;
            box-sizing:border-box;
            box-shadow:0 3px 4px -2px rgba(c(black),0.3);
            border:1px solid darken(c(gray), 10%);

            > p{
                padding:0;
                margin-bottom:20px;

                &:last-child{
                    margin-bottom:0;
                }
            }

            label{
                font-size:em(14);
                color:darken(c(gray), 10%);
                margin-bottom:10px;

                abbr, span{
                    display:none;
                }
            }

            legend{
                display:none;
            }

            input:not([type="submit"]){
                @extend %light;
                @include ease;
                font-size:em(16);
                line-height:em(18,16);
                color:c(black);
                padding-bottom:10px;
                border-bottom:1px solid c(gray);

                &:focus{
                    border-color:darken(c(gray), 30%);
                }
            }

            input[type="submit"]{
                @extend %light;
                @include ease;
                font-size:em(16);
                color:darken(c(gray), 10%);
                border:1px dashed darken(c(gray), 10%);
                padding:15px 0;
                margin-top:10px;
                display:inline-block;
                border-radius:0;
                background-color:transparent;
                width:100%;
                cursor:pointer;

                &:hover{
                    @extend %wd-bg-secondary;
                    color:c(white);
                    border:1px solid c(secondary);
                }
            }

            .select2-container{
                @include ease;

                .select2-choice{
                    background-clip: padding-box;
                    background-color: inherit;
                    background-image: none;
                    height:auto;
                }

                a{
                    border-radius:0;
                    border-color:darken(c(gray), 10%);
                    padding:15px;

                    span{
                        @extend %light;
                        @include ease;
                        font-size:em(16);
                        line-height:em(18,16);
                        color:c(black);
                    }

                    .select2-arrow{
                        right:10px;
                    }
                }

                &.select2-dropdown-open{
                    a{
                        border-color:darken(c(gray), 30%);
                    }
                }
            }

            .select2-container .select2-choice .select2-arrow{
                background:none;
                border:none;
                border-radius:0;

                b{
                    background:none !important;
                }

                b::after {
                    -moz-border-bottom-colors: none;
                    -moz-border-left-colors: none;
                    -moz-border-right-colors: none;
                    -moz-border-top-colors: none;
                    border-color: #666 transparent transparent;
                    border-image: none;
                    border-style: solid;
                    border-width: 4px;
                    content: "";
                    display: block;
                    left: 50%;
                    margin-left: -7px;
                    margin-top: -2px;
                    position: absolute;
                    top: 50%;
                }
            }

            .select2-dropdown-open .select2-choice{
                background-color:inherit;
                background-image:none;
                cursor:pointer;
            }
        }
    }
}

.select2-drop{
    border-color:darken(c(gray), 30%);
    border-radius:0;

    input{
        @extend %light;
        font-size:em(14);
        line-height:em(18,16);
        color:c(black);
        // padding:15px;
        background:none;
    }

    .select2-results{
        @extend %wd-bg-white;
        @extend %light;
        font-size:em(14);
    }
}

.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last{
    width:48%;
}

//☲☲☲☲☲☲☲☲☲☲☲╣ BREAKPOINTS ╠☲☲☲☲☲☲☲☲☲☲☲☲//

&.woocommerce-account.woocommerce-edit-address, &.woocommerce-account.woocommerce-edit-account{
    .woocommerce{
        @include breakpoint(phone){
            form{
                > p{
                    width:100% !important;
                }
            }
        }
    }
}