.select2-choice{
    background-clip: padding-box;
    background-color: inherit;
    background-image: none;
    height:auto;
    border-radius: 0;
}
.select2-container .select2-choice .select2-arrow{
    background:none;
    border:none;
    border-radius:0;
    right:10px;
}
b{
    background:none !important;
}

b::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #666 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 4px;
    content: "";
    display: block;
    left: 50%;
    margin-left: -7px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
}


.select2-dropdown-open .select2-choice{
    background-color:inherit;
    background-image:none;
    cursor:pointer;
}

.select2-container .select2-choice{
    padding:15px;
    line-height:18px;
}