.woocommerce {
    .woocommerce-error,.woocommerce-error,.woocommerce-message,.woocommerce-info {
        @extend %bg-white;

        &,li, a{
            font-family:$family !important;
        }

        a{
            color:c(secondary);
        }
    }
}

.woocommerce-account.logged-in, .woocommerce-checkout{
    .woocommerce{
        .woocommerce-error,.woocommerce-info,.woocommerce-message{
            box-sizing:border-box;
            border:1px solid darken(c(gray), 10%);
            box-shadow:0 0 4px -2px rgba(c(black),0.3);
        }
    }
}

.woocommerce-account.woocommerce-edit-address, .woocommerce-account.woocommerce-edit-account{
    .woocommerce-error,.woocommerce-error,.woocommerce-message{
        position:relative;
        top:0;
    }
}