//░░░░░░░░░░░░░░░░░░░░░░░░
//
//     DIRECTORY
//
//     _Import
//     _Fonts
//     _Styles
//
//░░░░░░░░░░░░░░░░░░░░░░░░

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Import
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
$family:'Open Sans', sans-serif;

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Fonts
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

$font-types:(
	light:300,
    reg:400,
    semi:600,
    bold:700,
    xbold:800
);

@each $font,$weight in $font-types{
	%#{$font}{
		font-family:$family;
		font-weight:$weight;
	}
}

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Styles
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

h1,h2,h3,h4,h5,h6,p,a,input,textarea{
    @include ease;
    @extend %last-margin;
}

h1{

}

h2{
	@extend %reg;
	font-size:em(20);
	text-transform:uppercase;
}

h3{
	@extend %reg;
	font-size:em(16);
	text-transform:uppercase;
	margin-bottom:20px;
}

h4{

}

h5{

}

h6{

}

p{
	@extend %light;
	font-size:em(16);
	line-height:em(20,16);
}

a{
    display:inline-block;
}

//☲☲☲☲☲☲☲☲☲☲☲╣ BREAKPOINTS ╠☲☲☲☲☲☲☲☲☲☲☲☲//

@include breakpoint(phone){
	h2{
		font-size:em(16);
	}
}